.vaardigheden
{
  width: 600px;
  height: 450px;
  margin: 0 auto;
}


#engels {
  right: -100%;
}

.skill_up
{
  background-color: gray;

}

.progressBar {
  height: 30px;
  background-color: rgb(77, 101, 141);
  color: white;
  text-align: center;

}


.progressBar2 {
  height: 30px;
  background-color: rgb(77, 101, 141);
  color: white;
  text-align: center;


}


.vertellen
{
  height: 300px;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;

}


/* Vragen */

.vraag1
{
  width: 40px;
}

.info
{
  background-color: #A9A9A9;
  float: left;
  clear: left;
  width: 100%;


}


a
{
  color: white;
}
